@model IEnumerable<Hospital.AltaMedica>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Indexcreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pacientes.nombre)
        </th>
        <th>
            Tipo de Habitacion
        </th>
        <th>
            Fecha de Ingreso
        </th>
        <th>
            Fecha de Salida

        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Pacientes.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Habitaciones.tipo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fechaIngreso, "ShortDateTime")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fechaSalida, "ShortDateTime")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.monto)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.idAlta }) |
        @Html.ActionLink("Details", "Details", new { id = item.idAlta }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.idAlta })
    </td>
</tr>
}

</table>
