@model IEnumerable<Hospital.Ingresos>

@{
    ViewBag.Title = "Dar de alta";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            Tipo de Habitacion
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pacientes.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha, "ShortDateTime")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitaciones.TipoH.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacientes.nombre)
            </td>
            <td>
                @Html.ActionLink("Dar de alta", "DarDeAlta", new { id = item.idIngreso })      
            </td>
        </tr>
    }

</table>
