@model Hospital.Ingresos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ingresos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pacientes.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacientes.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habitaciones.idHabitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitaciones.idHabitacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idIngreso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
